uvicorn==0.23.2
chromadb==1.5.5
fastapi==0.135.3
langchain-community==0.4.1
langchain-core==1.2.18
langchain-huggingface==1.2.1
langchain-openai==1.1.11
langchain-text-splitters==1.1.1
nltk==3.9.3
ollama==0.6.1
openai==2.30.0
pydantic==2.12.5
python-dotenv==1.2.2
sentence-transformers==5.2.3
